@import 'global';
@import 'variables';

body {
    background-image: url("../images/pattern-background-mobile.svg");
    background-color: $paleBlue;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4.375rem 1.5rem;
    
    @media (min-width: 40em) {
        background-image: url("../images/pattern-background-desktop.svg");
        padding: 6.25rem 0;
    }
}

.card {
    background-color: $white;
    overflow: hidden;
    max-width: 21.4375rem;
    margin: auto;
    border-radius: 0.8rem;

    @media (min-width: 40em) {
        max-width: 28.125rem;
    }

    h1, h2, p {
        margin-top: 0;
    }

    &__white {
        padding: 2.375rem 0;

        @media (min-width: 40em) {
            padding: 3.3125rem 0;
        }
    }

    &__bg {
        display: block;
        max-width: 100%;
        height: auto;
    }

    article {
        text-align: center;
        margin: 0 1.625rem 1.875rem;

        @media (min-width: 40em) {
            margin: 0 2.625rem 1.875rem;
        }
    }

    &__heading {
        color: $darkBlue;
        font-size: 1.5rem;
        font-weight: 800;

        @media (min-width: 40em) {
            font-size: 1.8rem;
        }
    }

    &__para {
        color: $desaturatedBlue;
        font-size: 1rem;
        line-height: 1.7;
    }

    &__box {
        background-color: $veryPaleBlue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.7rem;
        padding: 1rem 0;
        margin: 0 1.5625rem 1.5rem;

        @media (min-width: 40em) {
            margin: 0 3rem 1.5rem;
            gap: 2.4375rem;
            padding: 1.5rem 0;
        }

        div {
            margin-left: -1.25rem;

            @media (min-width: 40em) {
                margin-left: -3.625rem;
            }
        }

        h2 {
            font-size: 1rem;
        }
        
        &__subheading {
            color: $darkBlue;
            font-weight: 800;
            margin-bottom: 0.25rem;
        }
        
        &__price {
            color: $desaturatedBlue;
            font-weight: lighter;
            margin: 0;
        }

        &__link {
            color: $brightBlue;
            font-size: 0.9rem;
            font-weight: 800;

            &:hover {
                text-decoration: none;
                color: $fadeBlue;
            }
        }
    }

    &__btn {
        text-align: center;
        margin: 0 1.5625rem; 

        @media (min-width: 40em) {
            margin: 0 3rem;
        }

        &__proceed, &__cancel {
            text-decoration: none;
            font-weight: 600;
        }
        
        &__proceed {
            display: block;
            background-color: $brightBlue;
            color: $white;
            padding: 0.875rem 0;
            border-radius: 0.7rem;
            margin-bottom: 1.6875rem;

            &:hover {
                background-color: $fadeBlue;
            }
        }

        &__cancel {
            display: block;
            color: $desaturatedBlue;

            &:hover {
                color: #000;
            }
        }
    }
}